.mainArticle__heading {
	color: hsl(0, 0%, 16%);
	font-size: 2.3em;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.readMore__heading {
	font-size: 1.2em;
	text-align: center;
}

.recommended__heading {
	font-size: 0.93em;
	font-weight: bold;
}